/* start the good stuff  */
/*responsive breakpoints  are em based. This lets our layout change and flow in response to the user's 
browser settings. If you really want or need pixels, the rough equivalents are below.
Don't like these breakpoints? change them to suit your needs!
 */
$bp-s: 30em;
$bp-m: 48em;
$bp-l: 62em;
$bp-xl: 75em;

/* $bp-s: 490px;
$bp-m: 768px;
$bp-l: 992px;
$bp-xl: 1200px; */

/* gutter width for .gutter class */
$gutter: 10px;

/* containers, like in every other css framework. Fixed width and fluid. */
.container{
  margin:0 auto;
  max-width:100%;
  @media (min-width:$bp-s){
    //max-width:490px;
    max-width:$bp-s;
  }
  @media (min-width:$bp-m){
    //max-width:768px;
    max-width:$bp-m;
  }
  @media (min-width:$bp-l){
    //max-width:992px;
    max-width:$bp-l;
    
  }
  @media (min-width:$bp-xl){
    //max-width:1200px;
    max-width:$bp-xl;
  }
}

.container-fluid {
  margin:0 auto;
  width:100%;
}

.flex {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:stretch;
  
  > *{
    flex-grow:1;
    flex-basis:auto;
  }

  //helper classes for flex-direction and align-item
  
  &.flex-column {
    flex-direction:column;
  }  
  
  &.flex-align-center{
    align-items:center;
  }
  
  &.flex-align-start{
    align-items:flex-start;
  }
  
  &.flex-align-end{
    align-items:flex-end;
  }

  &.flex-justify-center{
    justify-content:center;
  }

  &.flex-justify-end{
    justify-content: flex-end;
  }
  
  &.flex-nowrap{
    flex-wrap:nowrap;
  }
  
  &.flex-center{
    align-items:center;
    justify-content:center;
  }
}

//item styles
[class^="item-"]{
  width:100%;
  flex-grow:0;
}

  .item-xs-1 {
    width: calc(100% / 12);
  }

  .item-xs-2 {
    width: calc(100% / 6);
  }

  .item-xs-3 {
    width: 25%;
  }

  .item-xs-4 {
    width: calc(100% / 3) ;
  }

  .item-xs-5 {
    width: calc(500% / 12);
  }

  .item-xs-6 {
    width: 50%
  }

  .item-xs-7 {
    width: calc(700% / 12);
  }

  .item-xs-8 {
    width: calc(800% / 12);
  }

  .item-xs-9 {
    width: calc(900% / 12);
  }

  .item-xs-10 {
    width: calc(1000% / 12);
  }

  .item-xs-11 {
    width: calc(1100%/ 12);
  }

  .item-xs-12 {
    width:100%;
  }

@media(min-width:$bp-s) {
  .item-s-1 {
    width: calc(100% / 12);
  }

  .item-s-2 {
    width: calc(100% / 6);
  }

  .item-s-3 {
    width: 25%;
  }

  .item-s-4 {
    width: calc(100% / 3) ;
  }

  .item-s-5 {
    width: calc(500% / 12);
  }

  .item-s-6 {
    width: 50%
  }

  .item-s-7 {
    width: calc(700% / 12);
  }

  .item-s-8 {
    width: calc(800% / 12);
  }

  .item-s-9 {
    width: calc(900% / 12);
  }

  .item-s-10 {
    width: calc(1000% / 12);
  }

  .item-s-11 {
    width: calc(1100%/ 12);
  }

  .item-s-12 {
    width:100%;
  }
}
@media(min-width:$bp-m) {
  .item-m-1 {
    width: calc(100% / 12);
  }

  .item-m-2 {
    width: calc(100% / 6);
  }

  .item-m-3 {
    width: 25%;
  }

  .item-m-4 {
    width: calc(100% / 3) ;
  }

  .item-m-5 {
    width: calc(500% / 12);
  }

  .item-m-6 {
    width: 50%
  }

  .item-m-7 {
    width: calc(700% / 12);
  }

  .item-m-8 {
    width: calc(800% / 12);
  }

  .item-m-9 {
    width: calc(900% / 12);
  }

  .item-m-10 {
    width: calc(1000% / 12);
  }

  .item-m-11 {
    width: calc(1100%/ 12);
  }

  .item-m-12 {
    width:100%;
  }
}
@media(min-width:$bp-l) {
  .item-l-1 {
    width: calc(100% / 12);
  }

  .item-l-2 {
    width: calc(100% / 6);
  }

  .item-l-3 {
    width: 25%;
  }

  .item-l-4 {
    width: calc(100% / 3) ;
  }

  .item-l-5 {
    width: calc(500% / 12);
  }

  .item-l-6 {
    width: 50%
  }

  .item-l-7 {
    width: calc(700% / 12);
  }

  .item-l-8 {
    width: calc(800% / 12);
  }

  .item-l-9 {
    width: calc(900% / 12);
  }

  .item-l-10 {
    width: calc(1000% / 12);
  }

  .item-l-11 {
    width: calc(1100%/ 12);
  }

  .item-l-12 {
    width:100%;
  }
}

@media(min-width:$bp-xl) {
  .item-xl-1 {
    width: calc(100% / 12);
  }

  .item-xl-2 {
    width: calc(100% / 6);
  }

  .item-xl-3 {
    width: 25%;
  }

  .item-xl-4 {
    width: calc(100% / 3) ;
  }

  .item-xl-5 {
    width: calc(500% / 12);
  }

  .item-xl-6 {
    width: 50%
  }

  .item-xl-7 {
    width: calc(700% / 12);
  }

  .item-xl-8 {
    width: calc(800% / 12);
  }

  .item-xl-9 {
    width: calc(900% / 12);
  }

  .item-xl-10 {
    width: calc(1000% / 12);
  }

  .item-xl-11 {
    width: calc(1100%/ 12);
  }

  .item-xl-12 {
    width:100%;
  }
}
//offsets - tbd

//define gutters here. Have to interpolate scss var to work in calc declaration
//details if youre interested: https://github.com/sass/sass/issues/818
.gutters {
  [class^='item-']{
        margin:calc(#{$gutter} / 2);
  }
    .item-xs-1,  {
    width: calc( (100% / 12) - #{$gutter});
  }

  .item-xs-2 {
    width: calc( (100% / 6) - #{$gutter});
  }

  .item-xs-3 {
    width: calc( 25% - #{$gutter});
  }

  .item-xs-4 {
    width: calc( (100% / 3) - #{$gutter});
  }

  .item-xs-5 {
    width: calc( (500% / 12) - #{$gutter});
  }

  .item-xs-6 {
    width: calc( 50% - #{$gutter});
  }

  .item-xs-7 {
    width: calc( (700% / 12) - #{$gutter});
  }

  .item-xs-8 {
    width: calc( (800% / 12) - #{$gutter});
  }

  .item-xs-9 {
    width: calc( (900% / 12) - #{$gutter});
  }

  .item-xs-10 {
    width: calc( (1000% / 12) - #{$gutter});
  }

  .item-xs-11 {
    width: calc( (1100% / 12) - #{$gutter});
  }

  .item-xs-12 {
    width: calc(100% - #{$gutter});
  }
  @media(min-width:$bp-s){
    .item-s-1,  {
      width: calc( (100% / 12) - #{$gutter});
    }

    .item-s-2 {
      width: calc( (100% / 6) - #{$gutter});
    }

    .item-s-3 {
      width: calc( 25% - #{$gutter});
    }

    .item-s-4 {
      width: calc( (100% / 3) - #{$gutter});
    }

    .item-s-5 {
      width: calc( (500% / 12) - #{$gutter});
    }

    .item-s-6 {
      width: calc( 50% - #{$gutter});
    }

    .item-s-7 {
      width: calc( (700% / 12) - #{$gutter});
    }

    .item-s-8 {
      width: calc( (800% / 12) - #{$gutter});
    }

    .item-s-9 {
      width: calc( (900% / 12) - #{$gutter});
    }

    .item-s-10 {
      width: calc( (1000% / 12) - #{$gutter});
    }

    .item-s-11 {
      width: calc( (1100% / 12) - #{$gutter});
    }

    .item-s-12 {
      width: calc(100% - #{$gutter});
    }
  }
  @media(min-width:$bp-m){
    .item-m-1,  {
      width: calc( (100% / 12) - #{$gutter});
    }

    .item-m-2 {
      width: calc( (100% / 6) - #{$gutter});
    }

    .item-m-3 {
      width: calc( 25% - #{$gutter});
    }

    .item-m-4 {
      width: calc( (100% / 3) - #{$gutter});
    }

    .item-m-5 {
      width: calc( (500% / 12) - #{$gutter});
    }

    .item-m-6 {
      width: calc( 50% - #{$gutter});
    }

    .item-m-7 {
      width: calc( (700% / 12) - #{$gutter});
    }

    .item-m-8 {
      width: calc( (800% / 12) - #{$gutter});
    }

    .item-m-9 {
      width: calc( (900% / 12) - #{$gutter});
    }

    .item-m-10 {
      width: calc( (1000% / 12) - #{$gutter});
    }

    .item-m-11 {
      width: calc( (1100% / 12) - #{$gutter});
    }

    .item-m-12 {
      width: calc(100% - #{$gutter});
    }
  }
  @media(min-width:$bp-l){
    .item-l-1,  {
      width: calc( (100% / 12) - #{$gutter});
    }

    .item-l-2 {
      width: calc( (100% / 6) - #{$gutter});
    }

    .item-l-3 {
      width: calc( 25% - #{$gutter});
    }

    .item-l-4 {
      width: calc( (100% / 3) - #{$gutter});
    }

    .item-l-5 {
      width: calc( (500% / 12) - #{$gutter});
    }

    .item-l-6 {
      width: calc( 50% - #{$gutter});
    }

    .item-l-7 {
      width: calc( (700% / 12) - #{$gutter});
    }

    .item-l-8 {
      width: calc( (800% / 12) - #{$gutter});
    }

    .item-l-9 {
      width: calc( (900% / 12) - #{$gutter});
    }

    .item-l-10 {
      width: calc( (1000% / 12) - #{$gutter});
    }

    .item-l-11 {
      width: calc( (1100% / 12) - #{$gutter});
    }

    .item-l-12 {
      width: calc(100% - #{$gutter});
    }
  }
  @media(min-width:$bp-xl){
    .item-xl-1,  {
      width: calc( (100% / 12) - #{$gutter});
    }

    .item-xl-2 {
      width: calc( (100% / 6) - #{$gutter});
    }

    .item-xl-3 {
      width: calc( 25% - #{$gutter});
    }

    .item-xl-4 {
      width: calc( (100% / 3) - #{$gutter});
    }

    .item-xl-5 {
      width: calc( (500% / 12) - #{$gutter});
    }

    .item-xl-6 {
      width: calc( 50% - #{$gutter});
    }

    .item-xl-7 {
      width: calc( (700% / 12) - #{$gutter});
    }

    .item-xl-8 {
      width: calc( (800% / 12) - #{$gutter});
    }

    .item-xl-9 {
      width: calc( (900% / 12) - #{$gutter});
    }

    .item-xl-10 {
      width: calc( (1000% / 12) - #{$gutter});
    }

    .item-xl-11 {
      width: calc( (1100% / 12) - #{$gutter});
    }

    .item-xl-12 {
      width: calc(100% - #{$gutter});
    }
  }
}

.item-order-xs-0{
  order:0;
}

.item-order-xs-1 {
  order:1;
}

.item-order-xs-2 {
  order:2;
}

.item-order-xs-3 {
  order:3;
}

.item-order-xs-4 {
  order:4;
}

.item-order-xs-5 {
  order:5;
}

.item-order-xs-6 {
  order:6;
}

.item-order-xs-7 {
  order:7;
}

.item-order-xs-8 {
  order:8;
}

.item-order-xs-9 {
  order:9;
}

.item-order-xs-10 {
  order:10;
}

.item-order-xs-11 {
  order:11;
}

.item-order-xs-12 {
  order:12;
}

@media (min-width:$bp-s){
  .item-order-x-0{
    order:0;
  }
  .item-order-s-1 {
    order:1;
  }

  .item-order-s-2 {
    order:2;
  }

  .item-order-s-3 {
    order:3;
  }

  .item-order-s-4 {
    order:4;
  }

  .item-order-s-5 {
    order:5;
  }

  .item-order-s-6 {
    order:6;
  }

  .item-order-s-7 {
    order:7;
  }

  .item-order-s-8 {
    order:8;
  }

  .item-order-s-9 {
    order:9;
  }

  .item-order-s-10 {
    order:10;
  }

  .item-order-s-11 {
    order:11;
  }

  .item-order-s-12 {
    order:12;
  }
}

@media (min-width:$bp-m){
  .item-order-m-0{
    order:0;
  }
  .item-order-m-1 {
    order:1;
  }

  .item-order-m-2 {
    order:2;
  }

  .item-order-m-3 {
    order:3;
  }

  .item-order-m-4 {
    order:4;
  }

  .item-order-m-5 {
    order:5;
  }

  .item-order-m-6 {
    order:6;
  }

  .item-order-m-7 {
    order:7;
  }

  .item-order-m-8 {
    order:8;
  }

  .item-order-m-9 {
    order:9;
  }

  .item-order-m-10 {
    order:10;
  }

  .item-order-m-11 {
    order:11;
  }

  .item-order-m-12 {
    order:12;
  }
}

@media (min-width:$bp-l){
  .item-order-l-0{
    order:0;
  }
  .item-order-l-1 {
    order:1;
  }

  .item-order-l-2 {
    order:2;
  }

  .item-order-l-3 {
    order:3;
  }

  .item-order-l-4 {
    order:4;
  }

  .item-order-l-5 {
    order:5;
  }

  .item-order-l-6 {
    order:6;
  }

  .item-order-l-7 {
    order:7;
  }

  .item-order-l-8 {
    order:8;
  }

  .item-order-l-9 {
    order:9;
  }

  .item-order-l-10 {
    order:10;
  }

  .item-order-l-11 {
    order:11;
  }

  .item-order-l-12 {
    order:12;
  }
}

@media (min-width:$bp-xl){
  .item-order-xl-0{
    order:0;
  }
  .item-order-xl-1 {
    order:1;
  }

  .item-order-xl-2 {
    order:2;
  }

  .item-order-xl-3 {
    order:3;
  }

  .item-order-xl-4 {
    order:4;
  }

  .item-order-xl-5 {
    order:5;
  }

  .item-order-xl-6 {
    order:6;
  }

  .item-order-xl-7 {
    order:7;
  }

  .item-order-xl-8 {
    order:8;
  }

  .item-order-xl-9 {
    order:9;
  }

  .item-order-xl-10 {
    order:10;
  }

  .item-order-xl-11 {
    order:11;
  }

  .item-order-xl-12 {
    order:12;
  }
}

